@use "./variables.scss";

:root {
  height: 100vh;

  &::before {
    content: "";
    background: variables.$background;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

body {
  position: relative;
  color: variables.$text-color;
  margin: auto;
  max-width: variables.$max-width;
  height: calc(100vh - 3.5rem);
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 3rem 0;
  position: relative;
  z-index: 4;
}
