$max-width: 1920;
$text-color: #fff;
$background: linear-gradient(#0069e3, #0056ba);

$homem-aranha-616-height: 360px;
$mulher-aranha-65-height: 300px;
$homem-aranha2-1610-height: 324px;
$sp-dr-14512-height: 324px;
$porco-aranha-8311-height: 146px;
$homem-aranha-90214-height: 376px;
$homem-aranha-928-height: 360px;
